

body{
font-family:Arial,sans-serif;
background-color:rosybrown;
}
.business-card{
  background-color:brown;
  width:300px;
  padding:20px;
  margin-top:100px !important;
  text-align:center;
  font-size:16px;
  margin:0 auto;

}
.profile-image{
  max-width:100%;

}
p{
  margin:5px 0;
}
a{
  text-decoration:none;
}
