node_modules/
out/
dist/
*.vsix
.vscode-test/
.nyc_output/
coverage/
**/*.map
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local