#first-color{
  color:red;
}
#second-color{
  color:orange;
}
#third-color{
  color:yellow;
}
#forth-color{
  color:green;
}
#fifth-color{
  color:blue;
}
#sixth-color{
  color:indigo;
}
#seventh-color{
  color:violet;
}
